* {
    margin:0;
    padding: 0;
  }
body{
    display:grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-gap:1rem;
    height:100vh;
    width:100vw;
    justify-content: center;
    font-family: monospace;
    text-align: center;
}

header{
    grid-area:header;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    height:4rem;
    z-index: 2;
}

h1{
    text-transform:uppercase;
    font-size: 1.4rem;
}

#nav1{
    display: flex;
    flex-direction: row;
    width: 15vw;
    justify-content: space-between;
}

#nav1 li img {
    width:1rem;
    height:auto;
}

#shopCart {
    display: inline-block;
    border-radius: 50%;
    font-size:.8rem;
    margin:0;
}

#nav2{
    display:flex;
    flex-direction: row;
    width: 20vw;
    justify-content:space-between;
    font-size: 0.7rem;
}
#nav2 li, #nav1 li{
    list-style: none;
    text-transform: uppercase;
    padding: .6rem;
}

#nav2 li:hover, #nav1 li:hover{
    background-color: rgba(236, 235, 235, 0.548);
}

.categorias{
    display:none;
}

li #shopCategorias:hover>.categorias{
    display:block;
    /* flex-direction: row;
    position:absolute;
    top:7.2rem; */
}
.categorias li{
    padding-left:3rem;
}
.categorias li:hover{
    text-decoration: underline;
}

.pDesc{
    background-color:rgba(0, 0, 0, 0.89);
    color:white;
    position:absolute;
    top:0;
    left:0;
    padding:1rem;
    width:100%;
    font-size: 0.7rem;
    text-align: center;
}
.pDesc span{
    font-weight: bolder;
}

main{
    grid-area:main;
}

footer{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area:footer;
    height:100px;
    border-top:1px solid rgba(0, 0, 0, 0.062);
}
.menuIcono{
    position:absolute;
    top: 4.5rem;
    right:2rem;
    display: none;
    flex-direction: column;
    gap:2px;
    width: 20px;
    height:25px;
}

.menuIcono .linea{
    height:2px;
    width:100%;
    background-color: black;
    border-radius: 1rem;
}

#galeria {
  display: grid;
  gap:1.1rem;
  grid-auto-rows: 16rem;
  grid-template-columns: repeat(auto-fill,minmax(12rem, 1fr));
}

.card{
    display:flex;
    flex-direction: column;
    height:auto;
    position: relative;
    border-radius: 1%;
    background-color: rgba(250, 250, 250, 0.954);
    box-shadow: 2px 3px 13px rgba(196, 193, 193, 0.233);

}

.card img{
    border-radius: 1%;
    width:100%;
    height:200px;
    object-fit:cover;
}

img.wishlist{
    object-fit: contain;
    width: 1.2rem;
    height:auto;
    position: absolute;
    right:1rem;
    top:1rem;
    opacity:0.6;
}

img.wishlist:hover{
    width:1.3rem;
    filter:invert(100%);
    opacity:1;
}

h3{
    text-transform: uppercase;
    font-size: 0.7rem;
    padding:0.7rem;
}

.precioCard{
    font-size: 0.7rem;
    color:gray;
    padding-bottom:0.6rem;
}

button{
    padding:1rem;
    background-color: white;
    border:none;        
    text-transform:uppercase;
}

button:hover{
    color:gray;
    background-color: white;
}

.botonAddItem{
    position:absolute;
    top:0%;
    width:100%;
    height:100%;
    opacity:0;
    font-size: 0.5rem;
    padding:0.8rem;
}
.card:hover>.botonAddItem{
    background-color: rgba(24, 23, 23, 0.541);
    opacity:1;
    color:white;

}




/* off canvas menu carrito */
#carrito{
    background-color: rgb(237, 245, 249);
    position:fixed;
    top:0;
    right:-100vw;
    width:25vw;
    height:100%;
    z-index: 3;
    padding:1rem 3rem;
    overflow:scroll;
    transition: ease-in-out 1s;
    display: grid;
    gap:1rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
    box-shadow:-5px -9px 10px rgba(27, 25, 25, 0.123);
    align-content: start;
    
}
.cerrar{
    width:3rem;
    height:3rem;
    color:rgb(118, 170, 184);
    font-weight: 900;
    background-color: transparent;
}
.cerrar:hover{
    color:rgba(0, 183, 255, 0.788);
}

#vaciar{
    width:100%;
    padding:2px;
    background-color: transparent;
}

.imgCarrito{
    background-color: rgba(239, 250, 250, 0.842);
    width:60px;
    height:60px;
    border-radius: 3px;
    object-fit: cover;
}
#cart{
    width:90%;
}

#cart li{
    display:flex;
    flex-direction: row;
    align-items:center;
    box-shadow: 2px 3px 21px rgba(236, 235, 235, 0.336);
    padding:1rem;
    margin:0.3rem 0;
    width:100%;
    justify-content: space-between;
}

.nombreItem{
    text-transform: uppercase;
    font-size: 0.6rem;
}

.eliminar{
    color:rgb(169, 177, 177);
    background-color:transparent;

    width: 1.5rem;
    height: 1.5rem;
    padding:5px;
}

.eliminar:hover {
    color:rgb(241, 247, 249);
    border:white;
}

.cantidad{
    width:1.3rem;
    border:.5px solid transparent;
    padding:.5rem;
}
.confirmar{
    width:80%;
    margin: 1.2rem auto;
    background-color:rgb(142, 202, 160);
    box-shadow: 2px 3px 12px rgba(182, 180, 180, 0.397);
}
.subT{
    padding:1rem;
}
.totalCarrito{
    font-size: .9rem;
    font-weight: 900;    
    padding:.5rem;
    margin:.5rem;
}
#cupon, #btnDescuento{
    width:38%;
    height:3rem;
    padding:0;
    text-align: center;
    box-shadow: 2px 3px 13px rgba(196, 193, 193, 0.158);
}

/* FORMULARIO */

form{
    min-width:200px;
    max-width: 500px;
    height:auto;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
form input{
    height:2rem;
    font-size: .8rem;
    font-family: monospace;
    padding:1rem;
    /* border-radius: 3px; */
}
form label{
    text-transform: uppercase;
    padding: 2rem 0 .5rem .5rem;
}

#btnEnviar , #btnLimpiar {
    width:17%;
    font-family: monospace;
    background-color: black;
    color: white;
    margin-top:1rem;
}


#campoRequerido p{
    background-color:rgb(108, 185, 199);
    color:white;
    text-align: center;
    padding:1rem;
}

.inputRequired{
    border: 3px solid rgb(235, 149, 202);
}

a{
    color:black;
    text-decoration: none;
    display:inline-block;
}


@media(max-width:480px) {
    /* #carrito{
        width:100vw;
    } */
    h1{
        text-align: left;
        font-size: 1rem;
    } 
}

@media only screen and (max-width:768px) {
    .menuIcono{
        display: flex;
    }
    #top{
        flex-direction: column;
        text-align: left;
        align-items:start;
        
    }
    #nav1{
        width: 100%;
    }
    #nav2, #nav1{
        flex-direction: column;
        justify-content: center;
        display: none;

    }
    
}